body{
  background-image:  url('grumpycatLionking.png');
  color: rgb(16, 134, 238);
  display: left;
  flex-direction: column;
  align-items: left;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 50px;
}
h1{
color: rgb(13, 13, 14);
}
button{
  background-color: rgb(111, 111, 202);
}

table,td {
  border: 1px solid rgb(0, 0, 0);
  background-color: aliceblue;
}
img.tableLogo{
  max-width: 20px;
}
